from time import sleep
import random
from PySimpleGUI import PySimpleGUI as sg

time = ()
ntime= list()
times = list()

while True:
    try:
        for c in range(0,6):
            time = str(input(f'\033[33mNome do {c+1}º time: \033[m'))
            sleep(0.3)
            times.append(time[:])
        resposta = str(input('\033[34mDeseja adicionar mais algum time?\033[m ')).upper().strip()[0]
        if resposta in 'S':
            ntime=str(input('Qual nome do time que deseja? '))
            times.append(ntime[:])
            times.append(time[:])
        if resposta in 'N':
            break
    except TypeError:
        print('\033[31mHouve um erro ao digitar.\033[m')
    except KeyboardInterrupt:
        print('\033[31mHouve um erro pelo teclado.\033[m')

try:
    sg.theme('Reddit')

    layout1=([
        [sg.Text(random.choice(times))],[sg.Text('x')],[sg.Text(random.choice(times))],
        [sg.Text(size=(30,1))], [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Text(random.choice(times))],[sg.Text('x')],[sg.Text(random.choice(times))],
        [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Text(random.choice(times))], [sg.Text('x')],[sg.Text(random.choice(times))],
        [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Button('Fechar')]
    ])

    janela = sg.Window('GRUPO A',layout1)

    while True:
        evento , valores = janela.read()
        if evento == sg.WINDOW_CLOSED or evento == 'Fechar':
            break
except AttributeError:
    print('\033[31mHouve um erro ao Atribuir a String.\033[m')
else:
    janela.close()

g2 = list()
t2 = list()

try:
    for c in range(0,3):
        g2 = str(input(f'\033[33mRestante dos time {c+1}º: \033[m'))
        t2.append(g2[:])

    layout2 = ([
        [sg.Text(random.choice(t2))], [sg.Text('x')],[sg.Text(random.choice(t2))],
        [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Text(random.choice(t2))], [sg.Text('x')],[sg.Text(random.choice(t2))],
        [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Text(random.choice(t2))], [sg.Text('x')],[sg.Text(random.choice(t2))],
        [sg.Text(size=(30,1))],[sg.Text(size=(30,1))],[sg.Text(size=(30,1))],
        [sg.Button('Fechar')]
    ])

    window = sg.Window('GRUPO B',layout2)

    while True:
        evento , valores = window.read()
        if evento == sg.WINDOW_CLOSED or evento == 'Fechar':
            break
    window.close()
except KeyboardInterrupt:
    print('\033[31mHouve um erro pelo teclado.\033[m')
